body {
    margin:0;
    background-image: url('../img/patron-fondo.jpg');
    background-size:cover;
    height: 100%;
    @include parallax;
}
p, h2, h3, h4, h5, h6, a, label {
    font-family:$text;
    color:$dark;
    margin:0;
}
h1, .name {
    font-family: $name-font;
    color:$dark;
    margin:0;
    font-size: 3em;
}
.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.title {
    margin-block: $m2;
    text-align: center;
    padding-block: $p2;
}
@media (max-width:$lg) {
    .title {
        p {
            font-size: small;
            margin-inline: $m1;
        }
    }
}
img {
    margin:0;
}
.center {
@include center;
}
.card {
    background-color: whitesmoke;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    margin-inline: $m3;
    padding-bottom: $p2;
    .card-img-top {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-top-left-radius: 33px;
        border-top-right-radius: 33px;
    }
    .card-title, .card-text {
        margin-inline: $m1;
    }
    .card-title {
        font-size: x-large;
    }
}
.contacto {
    background-color: whitesmoke;
    article {
        margin: $m1;
        input {
            @include input;
        }
        textarea {
            @include input;
        }
        label {
            font-size: large;
        }
        h5 {
            font-size: x-large;
        }
    }
    h5 {
        font-size: larger;
        margin-bottom: $m1;
    }
    .ig, .numero {
        margin-bottom: $m3;
        display: inline-flex;
        align-items: center;
        margin-right: $m2;
        img {
            height:5vh;
            width:auto;
        }
    }
    .horario {
        margin-bottom: $m3;
    }
    .ubicacion {
        margin-bottom: $m1;
        iframe {
            width: 60%;
            height:20vh;
        }
    }
    .nombre, .apellido {
        margin-right: $m2;
        width:50%;
        display: flex;
        flex-direction: column;
    }
    .nombre-y-apellido {
        width:100%;
        display: inline-flex;
        flex-direction: row;
        margin-bottom: $m2;
    }
    .mail {
        display: flex;
        margin-right: $m2;
        margin-bottom: $m2;
        flex-direction: column;
    }
    .mensaje {
        display: flex;
        margin-right: $m2;
        margin-bottom: $m2;
        flex-direction: column;
    }
}