nav {
    height: $nav-height;
    background-color: $secondary;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            @include link-hover;
            display: inline;
            a {
                margin: 5rem;
                text-decoration: none;
                color: $dark;
                font-size:large;
                opacity: 0.8;
            }
            .active {
                opacity: 1;
                font-weight:900;
                @media (max-width: $lg) {
                    @include scale;
                    background-color: #f7b0ad;
                    border-radius: 50%;
                }
            }
        }
    }
    @media (max-width:$lg) {
        .nav-mobile {
            display:flex;
            a {
                margin:$m2;
            }
        }
        .nav-desktop {
            display: none;
        }
    }
    @media (min-width:$lg) {
        .nav-desktop {
            display: flex;
        }
        .nav-mobile {
            display: none;
        }
    }
}